{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page3</title>
    <link rel="stylesheet" href="{% static 'styles3.css' %}">
</head>
<body>
    <section class="header">
        <div class="title-wrapper">
            <h1 class="sweet-title">
                <span data-text="Text1">Text1</span>
                <span data-text="Text2">Text2</span>
            </h1>
            <span class="top-title">Text3</span>
            <span class="bottom-title">Text4</span>
        </div>
    </section>
</body>
</html>