{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page4</title>
    <link rel="stylesheet" href="{% static 'styles4.css' %}">
</head>
<body>
    <div class ="overlay"></div>
    
    <div class="text">
        <div class="wrapper">
            <div id="F" class="letter">T</div>
            <div class="shadow">T</div>
        </div>
        <div class="wrapper">
            <div id="I" class="letter">E</div>
            <div class="shadow">E</div>
        </div>
        <div class="wrapper">
            <div id="F" class="letter">X</div>
            <div class="shadow">X</div>
        </div>
        <div class="wrapper">
            <div id="T" class="letter">T</div>
            <div class="shadow">T</div>
        </div>
    </div>
</body>
</html>